@media screen and (max-Width:800px){
	
	.main_heading{
		position:relative;
		display:flex;
		width:100%;
		height:20vh;
	}
	.logo{
		width:60%;
	}
	.logo img{
		max-width:60%;
		height:auto;
	}
	.Title{
		left:37%;
		position:absolute;
		width:50%;
	}
	span{
		color:#3AC154;
	}
	 h1{
		font-size:22px;
	}
	.in{
		height:10vh;
	}
	.in input{
		width:80%;
		height:5vh;
		font-size:25px;
		border:none;
		outline:none;
		border-bottom:1px solid black;
	}
	.extra{
		font-size:25px;
		height:15vh;
	}
	.loginbutton{
		background:#3AC154;
		border:none;
		width:100%;
		height:7vh;
		font-size:20px;
		border-radius:44px;
		cursor:pointer;
		font-weight:bold;
	}
	#forgot{
		font-size:23px;
	}
	.maintarget{
		font-size:1.5em;
	}
	
	
	
}








@media screen and (min-Width:992px){
	body{
		margin:0;
		padding:0;
	}
	.logo{
		width:50%;
		height:15vh;
	}
	.logo img{
		width:20%;
		height:20vh;
		margin-top:%;
		float:left;
		margin-left:1%;
		
	}
	.Title{
		width:30%;
		position:absolute;
		left:15%;
		font-size:20px;
	}
	.main_heading{
		display:flex;
		margin-top:0.5%;
	}
	.format{
		display:flex;
		justify-items:space-between;
		
	}
	.formholder{
		position:relative;
		left:12%;
		display:flex;
		justify-content:center;
		align-items:center;
		height:70vh;
		width:80%;
	}
	form{
		width:90%;
		height:50vh;
	}

	.forminput {
		width:50%;
		margin-left:2%;
		height:10vh;
		font-size:18px;

	}

	.loginTitle{

		font-size:20px;
		font-weight:bold;
		margin-left:2%;
	}
	.format{

		margin-top:1%;
	}
	.in {
		
		width:90%;
		height:8vh;
		font-size:20px;
	}

	.in input {
		width:50%;
		height:7vh;
		font-size:20px;
		border:none;
		outline:none;
		border-bottom:1px solid black;
	}
	.extra{
		margin-top:1%;
		display:flex;
		justify-content:space-between;
		width:90%;
	}

	.showPassword{
		cursor:pointer;
	}
	.loginbutton{
		background:#3AC154;
		border:none;
		width:15vw;
		height:7vh;
		font-size:20px;
		border-radius:44px;
		cursor:pointer;
		font-size:20px;
		font-weight:bold;
	}


	span{
		color:#3AC154;
	}
}

a{
	text-decoration:none;
}

.forminput.in:focus-within input{
	border-bottom:4px solid green;
}

.forminput.in:focus-within i{
	color:green;
}

#eye{
		position:absolute;
	}
